<section class="banner">
  <div class="black"></div>
  <%= image_tag("banner.jpg", :alt => "banner") %>
  <%= image_tag("logo.png", :alt => "logo", :class => "logo") %>
  <p class="underlogo">Online Platform Project</p>
</section>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default onhover">
      <div class="image-container">
          <%= link_to (image_tag pin.image.url), pin, :class => "onhover" %>
          <i class="glyphicon glyphicon-zoom-in"></i>
      </div>

      <div class="panel-body">

        <h2><%= link_to pin.title, pin %></h2>

        <p class="user">Submitted by: <%= pin.user.email%></p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70"
          aria-valuemin="0" aria-valuemax="100" style="width:30%">
            <span class="sr-only">0% Complete</span>
          </div>
        </div>
        <p class="value">$400</p>
      </div>
    </div>
  <% end %>
</div>
