<div id="pin_show" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

      <div class="panel-heading pin_image">
        <%= image_tag @pin.image.url %>
      </div>

      <div class="panel-body">
        <h1><%= @pin.title %></h1>
        <p class="description"><%= @pin.description %></p>
      </div>

      <div class="panel-footer">

        <section class="row">

          <div class="col-md-6">
            <p>Wish by <%= @pin.user.name %></p>
          </div>

          <div class="col-md-">
            <div class="btn-group pull-right">
              <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-heart"><%= @pin.get_upvotes.size %></span>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-default" %>
                <%= link_to 'Delete', pin_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default"  %>
              <% end %>
            </div>
          </div>

        </section>

        <section class="row">
          <div class="col-md-12">
          <p>
            <span class="value-current"><%= number_to_currency(@pin.amount, unit: "$ ", separator: ".", delimiter: "") %></span>/
            <span class="value-total"><%= number_to_currency(@pin.goal, unit: "$ ", separator: ".", delimiter: "") %></span>
          </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= (@pin.amount)/(@pin.goal)*100 %>%"></div>
              <span class=""><%= ((@pin.amount)/(@pin.goal)*100).floor %>% Complete</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="btn btn-info btn-lg disabled">Donate</div>
            <div class="btn btn-default">$1</div>
            <div class="btn btn-default">$5</div>
            <div class="btn btn-default">$10</div>
            <div class="btn btn-default">$50</div>
          </div>

        </section>
      </div>

    </div>
  </div>
</div>
